

#landing {
  background: {
    attachment: fixed;
    color: #171717;
    image: image-url('pages/landing/background.jpg');
    repeat: no-repeat;
    position: center bottom;
  }
  color: #c4bfbf;
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;

  #sign_up {
    @include box-shadow(#111 2px 2px 4px);

    background: #2b2b2b; /* Old browsers */
    background: -moz-linear-gradient(top,  #2b2b2b 14%, #1c1c1c 42%, #111111 71%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#2b2b2b), color-stop(42%,#1c1c1c), color-stop(71%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2b2b2b 14%,#1c1c1c 42%,#111111 71%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2b2b2b 14%,#1c1c1c 42%,#111111 71%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2b2b2b 14%,#1c1c1c 42%,#111111 71%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2b2b2b 14%,#1c1c1c 42%,#111111 71%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    margin: 0;
    padding-bottom: 1.5em;
    padding-top: 1.2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    p {
      display: inline;
      float: left;
      font: {
        size: 13px;
        style: italic;
      }
      margin: 6px 0 0 4.8em;
    }

    form {
      color: #d1c8c8;
      display: inline-block;
      float: right;
      font-style: italic;
      margin-bottom: 0px;

      label {
        font-size: 12px;
      }

      input {
        width: 170px;
      }
    }

    .btn {
      background-image: url(/assets/pages/landing/submit.png);
      background-position: top;
      background-size: 100% auto;
      border: none;
      height: 33px;
      margin-right: 0px;
      outline: none;
      width: 7em;

      &:focus {
        border-bottom: solid rgba(22,22,22,0.7) 2px;
      }
      &:hover {
        background-color: none;
      }

      p {
        left: 999px;
        position: relative;
      }
    }
  }

  #social {
    padding: 5px 10px 0 0;
    width: 30px;
  }

  #main {
    padding-top: 9em;
  }

  #content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #d1c8c8;
    padding: 6px 36px;
    width: 500px;

    h2 {
      color: #c4bfbf;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
    }

    p {
      font-size: 17px;
      line-height: 24px;
    }

    #ribbon {
      background-image: image-url('pages/landing/ribbon.png');
      background-size: auto 100%;
      display: block;
      position: absolute;
      height: 14em;
      margin: -16px 0 0 -47px;
      width: 14em;

      p {
        color: black;
        position: relative;
        text-transform: uppercase;
        top: 23px;

        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari and Chrome */
      }
    }

    #hero_banner {
      background-image: image-url('pages/landing/hero_banner.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 78% auto;
      display: block;
      margin-right: 8px;

      height: 5em;
      min-width: 100px;
      width: 90%;
      max-width: 500px;
    }
  }

  #private_eye {
    display: block;
    margin-left: 4em;
    position: relative;
    width: 250px;

    #contact {
      background-color: rgba(30, 27, 31, 0.9);
      padding: 1.5em 0;
      position: absolute;

      a {
        color: #c4bfbf;
      }

      p {
        color: #c4bfbf;
        font: {
          size: 18px;
          style: italic;
        }
        line-height: 1.35em;
        padding: 3px 18px;

        &.small {
          font-size: 14px;
          line-height: 1.5em;
          padding-bottom: 0px;

          strong {
            font-style: normal;
          }
        }
      }
    }

    #portrait {
      background-image: image-url('pages/landing/detective.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      display: block;
      height: 30.2em;
    }
  }
}