- @title = 'Time Detective &middot; Recover Billable Hours for your Agency'.html_safe

%div.overlay

  %div.row#sign_up
    %div.container.align-center
      %div.row
        %div.span12
          %p Sign up to be notified when we launch
          // TODO
          // use WUFOO here
          %form.form-inline
            %label
              Name
              %input.input-large
            %label
              Email
              %input.input-large
            %button.btn{:type => "submit"}
              %p submit

  #main.container
    %div.row
      %div.span1#social
        %div.row
          %a{:href => "https://www.facebook.com/ThirdPrestige"}
            %span.social_small.facebook.align-center
        %div.row
          %a{:href => "https://twitter.com/ThirdPrestigeCo"}
            %span.social_small.twitter.align-center

        :javascript
          $('#social .row').hide()


      %div.span7.element-border#content
        %div#ribbon
          / %p Coming soon!

        %h1
          %span.align-center#hero_banner

        %hr
        %h2.hr.hr-block.align-center
          No hour lost.
        %hr
        %br

        - Block.all.each do |block|

          .panel

            = simple_format block.content.try(:html_safe)


        #arrows
          %span.arrow.left
            %span.carrot < <
            %span.dot &middot;
          %span.arrow.right
            %span.dot &middot;
            %span.carrot > >


      %div.span4#private_eye
        %div.row.element-border#contact
          %p Our private eye investigation can recover valuable billables for your company at a mere $300 per month.
          %p.small
            Contact us at
            = mail_to 'hello@thirdprestige.com', 'hello@thirdprestige.com', encode: :hex
            or
            %strong 512.394.4105
            to learn more about Time Detective today.

        / %div.row.element-border#portrait

    -#%div.row.copyright.align-center
      %br
      &copy; 2013 Third Prestige LLC la la dandelions bird
    %br